@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    /* position: relative; */
    width: 1512px;
    /* margin-left: auto;
    margin-right: auto; */
}


.header{
    position: relative;
    height: 187px;
    background-color:#323232 ;
    z-index: 1;
}

.logo{
    position: absolute;
    /* centrar verticalmente */
    top: 50%;
    margin-top: -80px;
    left: 20px;
}

.logo > img {
    position: relative;
    width: 100px;
    height: 95px;
    left: 50%;
    margin-left: -60px;
}

.logo > h1{
    /* border: 1px; */
    font-size: 45px;
    text-transform: uppercase;
    color: #E3EC39;
    margin: 0;
}

.buttons-login{
    position: absolute;
    width: 354px;
    left: 100%;
    margin-left: -403px;
    top: 50%;
    margin-top: -38px;
    /* border: 1px solid white; */
}

.specific-size-btn{
    position: absolute;
    display: block;
    width: 158px;
    height: 76px;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFFFF;
    /* border: 1px solid white; */
}

/* LOGIN BUTTON */
.logbtn  span{
    position: relative;
    display: inline-block;
    top: 45%;
    margin-top: -15px;
    font-size: 25px;
    left: 28px;
    color: #000000;
}

.logbtn > img{
    position: relative;
    top: 50%;
    margin-top: -17.5px;
    left: -12px;
    width: 35px;
    height: 35px;
    float: right;
}
/* SIGN IN BUTTON */
.regbtn{
    /* position: absolute; */
    /* top: 100%; */
    /* margin-top: 50px; */
    left: 100%;
    margin-left: -158px;
}

.regbtn span{
    position: relative;
    display: inline-block;
    top: 45%;
    margin-top: -15px;
    font-size: 25px;
    left: 13px;
    color: #000000;
}

.regbtn > img{
    position: relative;
    top: 50%;
    margin-top: -17.5px;
    left: -5px;
    width: 35px;
    height: 35px;
    float: right;
}

/* Aside */
aside{
    position: fixed;
    display: block;
    float: left;
    width: 336px;
    height: 100vh;
    background-color: #E3EC39;
    top: 0;
    padding-top: 28vh;
}

/* aside nav{
    position: relative;
    border: 1px solid black;
} */

aside nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    /* position: relative; */
} 

aside nav ul li a{
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
}

aside nav ul li{
    margin-top: 15px;
}

aside p{
    position: relative;
    font-size: 24px;
    /* margin-top: 100px; */
    top: 220px;
    text-align: center;
}

aside p span{
    display: block;
}

main{
    margin-left: 336px;
    width: 1176px;
    background-color: #535353;
}

main section .main-pic{
    position: relative;
    display: block;
    /* width: 100%; */
    width: 1176px;
    height: 795.5px;
    /* background-color: blue; */
    background-image:url("../../Assets/Images/don'tsit-done.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* filter: brightness(50%); */
}

main section .main-pic h2{
    position: absolute;
    display: block;
    width: 800px;
    left: 50%;
    margin-left: -390px;
    top: 90px;
    background-color: transparent;
    color: White;
    font-size: 100px;  
}

main section .main-pic h2 span{
    position: absolute;
    display: block;
    margin-left: 380px;
    top:90px;
    /* right: 115px; */
    color: #E3EC39;
    /* border: 1px solid white; */
}

main section .main-pic .image-text{
    position: relative;
    top: 430px;
    /* border: 1px solid white; */
}

main section .main-pic .image-text p{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom:32px ;
}

.features-box{
    position: relative;
    border: 1px solid transparent;
}

.features-box h3{
    position: absolute;
    display: block;
    color: white;
    width: 800px;
    left: 50%;
    margin-left: -480px;
    top: 59px;
    text-align: center;
    margin-bottom:32px ; 
    font-size: 100px; 
}

.features-box h3 span{
    position: absolute;
    display: block;
    margin-left: 545px;
    top:70px;
    /* right: 115px; */
    color: #E3EC39;
    /* border: 1px solid white; */
}

/* .features-box .esp{
    margin-top: 350px;
} */

.feature-list-cont{
    position: relative;
    top: 250px;
    /* border: 1px solid white; */
    width: 1014px;
    height: 737px;
    left: 50%;
    margin-left: -507px;
    margin-bottom: 270px;

}

.list-features{
    display: block;
    width: 451px;
    height: 288px;
    /* border: 1px solid white; */
    border-radius: 10px;
    box-shadow:2px 2px 5px black ;
}


.feature-list-cont .reservations{
    position: relative;
    left: 32px;
    top: 42px;
}
.feature-list-cont .reservations-img{
    position: absolute;
    width:451px ;
    height:288px ;
    border-radius: 10px;
    filter: brightness(60%);
    z-index: 1;
}
.reservations h4,
.schedule h4,
.memberships h4{
    position: relative;
    top: 37px;
    font-size: 58px;
    text-align: center;
    color: #E3EC39;
    z-index: 2;   
}
.reservations p,
.schedule p,
.memberships p{
    position: relative;
    top: 95px;
    font-size:30px;
    text-align: center;
    color: white;
    z-index: 2;
}


.feature-list-cont .schedule{
    position: absolute;
    left:529px;
    top: 42px;
}
.feature-list-cont .schedule-img{
    position: absolute;
    width:451px ;
    height:288px ;
    border-radius: 10px;
    filter: brightness(60%);
    z-index: 1;
}

.feature-list-cont .memberships{
    position: absolute;
    left: 32px;
    top: 407px;
}
.feature-list-cont .memberships-img{
    position: absolute;
    width:451px ;
    height:288px ;
    border-radius: 10px;
    filter: brightness(70%);
    z-index: 1;
}

.feature-list-cont .contactsuggestion{
    position: absolute;
    left:529px;
    top: 407px;
   
}

.feature-list-cont .contactsuggestion-img{
    position: absolute;
    width:451px ;
    height:288px ;
    border-radius: 10px;
    filter: brightness(60%);
    z-index: 1;
}

.contactsuggestion h4{
    position: relative;
    top: 10px;
    font-size: 50px;
    text-align: center;
    color: #E3EC39;
    z-index: 2;
}

.contactsuggestion p{
    position: relative;
    top: 45px;
    font-size:30px;
    text-align: center;
    color: white;
    z-index: 2;
}

.contact-box{
    position: relative;
    /* border: 1px solid white; */
    margin-bottom: 150px;
    left: 50%;
    margin-left:-516px ;
    width: 1032px;
    height: 650px;
}

.contact-box h3{
    position: relative;
    display: inline-block;
    color: white;
    width: 800px;
    left: 50%;
    margin-left: -500px;
    top: 10px;
    text-align: center;
    /* margin-bottom:32px ;  */
    font-size: 100px; 
    /* border: 1px solid white; */
    margin-bottom: 150px;
}

.contact-box h3 span{
    position: absolute;
    display: block;
    margin-left: 545px;
    top:70px;
    right: 50px;
    color: #E3EC39;
    /* border: 1px solid white; */
}

.contact-box form{
    position: relative;
    width: 1032px;
    height: 351px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.contact-box form label{
    font-size: 18px;
}
.contact-box form input,
.contact-box form select{
    width: 190px;
    height: 35px;
    border-radius: 4px;
    border:1px solid black;
    background-color: #C4C4C4;
}

.contact-box form .box-name{
    position: absolute;
    display: block;
    width: 200px;
    height: 67px;
    top: 33px;
    left: 55px;
    background-color: transparent;
}

.contact-box form .box-surname{
    position: absolute;
    display: block;
    width: 200px;
    height: 67px;
    top: 33px;
    left: 307px;
    background-color: transparent;
}

.contact-box form .box-email{
    position: absolute;
    display: block;
    width: 200px;
    height: 67px;
    top: 33px;
    left: 557px;
    background-color: transparent;
}

.contact-box form .box-select{
    position: absolute;
    display: block;
    width: 200px;
    height: 67px;
    top: 33px;
    left: 790px;
    background-color: transparent;
}

.contact-box form .box-textarea{
    position: absolute;
    display: block;
    width: 200px;
    height: 67px;
    top: 150px;
    left: 55px;
    background-color: transparent;
}

.contact-box form textarea{
    width: 918px;
    height: 100px;
    border-radius: 18px;
    background-color: #C4C4C4;
}

.contact-box form textarea::placeholder{
 position: absolute;
    display: block;
    width: 100px;
    top: 15px;
    left: 20px;
}

.contact-box form button{
    position: relative;
    display: block;
    width: 75px;
    height: 34px;
    top: 295px;
    left: 478px;
    background-color: #D5DD3C;
    border: none;
    border-radius: 10px;
}

.activities-box{
    position: relative;
    width: 1011px;
    height: 650px;
    left: 50%;
    margin-left:-505.5px ;
    margin-bottom: 150px;
    /* border: 1px solid white; */
}

.activities-box h3{
    position: relative;
    display: inline-block;
    color: white;
    width: 800px;
    left: 50%;
    margin-left: -520px;
    top: 10px;
    text-align: center;
    /* margin-bottom:32px ;  */
    font-size: 100px; 
    /* border: 1px solid white; */
    margin-bottom: 150px;
}

.activities-box h3 span{
    position: absolute;
    display: block;
    margin-left: 545px;
    top:70px;
    right: 50px;
    color: #E3EC39;
    /* border: 1px solid white; */
}

.list-activities{
    display: block;
    width: 306px;
    height: 187px;
    /* border: 1px solid white; */
    border-radius: 10px;
    box-shadow:1px 2px 5px black ;
}

.activities-box .crossfit{
    position: absolute;
    left: 193px;
    top: 208px;
}

.crossfit h4{
    position: relative;
    display: inline-block;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -97.5px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
    z-index: 2;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: hsla(0, 0%, 7%, 0.568);
}

.list-activities .crossfit-img{
    position: absolute;
    width: 306px;
    height: 187px;
    border-radius: 10px;
    filter: brightness(80%);
    z-index: 1;
}

.activities-box .box{
    position: absolute;
    left: 565px;
    top: 208px;
}

.box h4{
    position: relative;
    display: inline-block;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -43.5px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
    z-index: 2;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: hsla(0, 0%, 7%, 0.603);
}

.list-activities .box-img{
    position: absolute;
    width: 306px;
    height: 187px;
    border-radius: 10px;
    filter: brightness(80%);
    z-index: 1;
}

.activities-box .functional{
    position: absolute;
    top: 452px;
}

.functional h4{
    position: relative;
    display: inline-block;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -126px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
    z-index: 2;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: hsla(0, 0%, 7%, 0.568);
}

.list-activities .functional-img{
    position: absolute;
    width: 306px;
    height: 187px;
    border-radius: 10px;
    filter: brightness(80%);
    z-index: 1;
}

.activities-box .spinning{
    position: absolute;
    top: 452px;
    left: 354px;
}

.spinning h4{
    position: relative;
    display: inline-block;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -102px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
    z-index: 2;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: hsla(0, 0%, 7%, 0.568);
}

.list-activities .spinning-img{
    position: absolute;
    width: 306px;
    height: 187px;
    border-radius: 10px;
    filter: brightness(80%);
    z-index: 1;
}

.activities-box .fitness{
    position: absolute;
    top: 452px;
    left: 705px;
}

.fitness h4{
    position: relative;
    display: inline-block;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -86px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
    z-index: 2;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: hsla(0, 0%, 7%, 0.568);
}

.list-activities .fitness-img{
    position: absolute;
    width: 306px;
    height: 187px;
    border-radius: 10px;
    filter: brightness(80%);
    z-index: 1;
}

.memberships-box{
    position: relative;
    display: block;
    width: 800px;
    height: 2200px;
    left: 50%;
    margin-left:-400px ;
    margin-bottom: 150px;
    /* border: 1px solid white; */
}

.memberships-box h3{
    position: relative;
    display: inline-block;
    color: white;
    width: 1000px;
    left: 50%;
    margin-left: -650px;
    top: 10px;
    text-align: center;
    margin-bottom:32px ; 
    font-size: 100px; 
    /* border: 1px solid white; */
    margin-bottom: 150px;
}

.memberships-box h3 span{
    position: absolute;
    display: block;
    margin-left: 10px;
    top:85px;
    right: 1px;
    color: #E3EC39;
    /* border: 1px solid white; */
}

.list-memberships{
    display: block;
    width: 480px;
    height: 575px;
    /* border: 1px solid white; */
    border-radius: 10px;
    box-shadow:3px 2px 5px black ;
}

.only-classes{
    position: absolute;
    left: 50%;
    margin-left: -240px;
}

.classic{
    position: absolute;
    top: 914px;
    left: 50%;
    margin-left: -240px;
}

.black-mem{
    position: absolute;
    top: 1562px;
    left: 50%;
    margin-left: -240px;
}

.only-classes h4,
.classic h4,
.black-mem h4{
    position: relative;
    display: inline-block;
    color: #D5DD3C;
    width: 283px;
    left: 50%;
    margin-left:-142.5px;
    top: 66px;
    z-index: 2;
    text-align: center;
    /* margin-bottom:32px ;  */
    font-size: 40px; 
    /* border: 1px solid white; */
    /* margin-bottom: 150px; */
}

.memberships-box ul{
    padding: 0;
    list-style: none;
}

.only-classes ul li:nth-child(1){
    position: relative;
    display: block;
    width: 258px;
    top: 170px;
    left: 50%;
    margin-left: -138px;
    text-align: center;
    font-size: 24px;
    color: white;
    /* border: 1px solid white; */
    z-index: 2;
}

.only-classes ul li:nth-child(2){
    position: relative;
    display: block;
    width: 258px;
    top: 280px;
    left: 50%;
    margin-left: -137px;
    text-align: center;
    font-size: 24px;
    color: white;
    /* border: 1px solid white; */
    z-index: 2;
}

.only-classes .only-img{
    position: absolute;
    width: 480px;
    height: 575px;
    border-radius: 10px;
    filter: brightness(50%);
    z-index: 1;
}

.classic ul li:nth-child(1){
    position: relative;
    display: block;
    width: 258px;
    top: 130px;
    left: 50%;
    margin-left: -138px;
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.classic ul li:nth-child(2){
    position: relative;
    display: block;
    width: 258px;
    top: 180px;
    left: 50%;
    margin-left: -138px;
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.classic ul li:nth-child(3){
    position: relative;
    display: block;
    width: 258px;
    top: 220px;
    left: 50%;
    margin-left: -138px;
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.black-mem ul li:nth-child(1){
    position: relative;
    display: block;
    width: 258px;
    top: 105px;
    left: 50%;
    margin-left: -138px;
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.black-mem ul li:nth-child(2){
    position: relative;
    display: block;
    width: 258px;
    top: 130px;
    left: 50%;
    margin-left: -138px;
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.black-mem ul li:nth-child(3){
    position: relative;
    display: block;
    width: 258px;
    top: 160px;
    left: 50%;
    margin-left: -138px;
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.black-mem ul li:nth-child(4){
    position: relative;
    display: block;
    width: 258px;
    top: 190px;
    left: 50%;
    margin-left: -138px;
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.classic-img{
    position: absolute;
    width: 480px;
    height: 575px;
    border-radius: 10px;
    filter: brightness(50%);
    z-index: 1;
}

.black-img {
    position: absolute;
    width: 480px;
    height: 575px;
    border-radius: 10px;
    filter: brightness(50%);
    z-index: 1;
}

.story-box{
    position: relative;
    left: 50%;
    margin-left:-485px ;
    width: 971px;
    height: 550px;
    /* border: 1px solid white; */
}

.story-box h3{
    position: relative;
    display: inline-block;
    color: white;
    /* width: 1000px; */
    left: 34px;
    /* margin-left: -650px; */
    top: 48px;
    /* text-align: center; */
    /* margin-bottom:32px ;  */
    font-size: 60px; 
    /* border: 1px solid white; */
    margin-bottom: 150px;
}

.story-box h3 span{
    position: absolute;
    display: block;
    left: 68px;
    color: #E3EC39;
    /* border: 1px solid white; */
}

.historia{
    position: relative;
    display: block;
    width:666px;
    height: 214px;
    font-size:24px;
    /* border: 1px solid white; */
    background-color:#8b8b8b ;
    border-radius: 18px;
    left: 330px;
    top: -180px;
}

.historia p:nth-child(1){
    position: absolute;
    display: block;
    /* border: 1px solid white; */
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 18px;
    text-align: center;
}

.historia p:nth-child(2){
    position: absolute;
    display: block;
    /* border: 1px solid white; */
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 130px;
    text-align: center;
}

footer{
    background-color: gray;
}