.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 154px;
    background-color:#535353;
}
.logo img{
    width: 104px;
    height: 114px;
    margin-left:20px;
}
.logo h1{
    display: none;
}
.hambuger-menu{
    margin-right:35px;
}
.buttons-login{
    display: none;
}
@media (min-width: 601px) and (max-width: 1024px) {
    .header-container{
        height: 245px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 35px;
    }
    .logo img{
        width: 140px;
        height: 150px;
    }
    .logo h1{
        display: block;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: bold;
        color: #E3EC39;
    }
    .hambuger-menu img{
        width: 87px;
        height: 78px;
    }
}
@media (min-width: 1025px){
    .header-container{
        justify-content: space-between;
        width: 100vw;
        height: 188px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 35px;
    }
    .logo img{
        width: 100px;
        height: 95px;
    }
    .logo h1{
        display: block;
        font-size: 45px;
        text-transform: uppercase;
        font-weight: bold;
        color: #E3EC39;
    }
    .hambuger-menu{
        display: none;
    }
    .buttons-login{
        display: flex;
        gap: 57px;
        margin-right: 35px;
    }
    .specific-size-btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 158px;
        height: 76px;
        border-width: 1px;
        border-radius: 5px;
        background-color: #FFFFFF;
        text-decoration: none;
    }
    .specific-size-btn  span{
        font-size: 25px;
        left: 28px;
        color: #000000;  
    }
    .specific-size-btn img{
        width: 35px;
        height: 35px;
    }
}